body {
  --header-height: 40px;
  font-family: 'Georgia', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgba(54, 54, 54, 0.712);
}

footer {
  display: flex;
  justify-content: center;
  font-size: 8pt;
  color: rgba(0, 0, 0, 0.596);
  background-color: rgba(54, 54, 54, 0.712);
}
